.row {
  margin-left: 20px;
  color: white;
}

.row h2 {
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-x: auto; /* horizontal scroll */
  overflow-y: hidden;
  padding: 20px 0;
  scroll-behavior: smooth; /* smooth scrolling */
}

.row__posters::-webkit-scrollbar {
  display: none; /* hide scrollbar */
}

.row_poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
